*{
    padding: 0;
    margin:0;
}
html{
    font-size: 62.5%;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-size: 1.2rem;
}
/*工具样式*/
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}


/*页面样式*/ 

/*头部导航*/
header{
    width: 100%;
}
header nav{
    margin: 0 auto;
    padding: 0 1.5rem;
}
header .top{
    line-height: 3rem;
    background-color: #333;
}
header .top p{
    display: inline-block;
    color: #fff;
}
header .top p a{
    color: #CBAC1F;
}
header .top ul{
    float: right;
}
header .top ul li{
    display: inline-block;
    padding: 0 1.5rem;
    text-align: center;
}
header .top ul li + li{
    border-left: 1px solid #ccc;
}
header .top ul li a{
    color: #fff;
}
header .top ul li a:hover{
    text-decoration: underline;
    color: #fff;
}
@media screen and (max-width: 40em) {
    header .top p,
    header .top ul li:nth-child(3),
    header .top ul li:nth-child(4){
        display: none;
    }
}

header .title{
    margin: 0 auto;
    padding: 0 1.5rem;
    line-height: 5rem;
    background-color: #aaa;

}
header .title p{
    float: left;
    display: inline-block;
    width: 10rem;
    height: 3rem;
    margin-top: 1rem;
}
header .title p img{
    width: 100%;
}
header .title ul{
    float: right;
}
header .title ul li{
    display: inline-block;
    padding: 0 1.5rem;
    border-left: 1px solid #ccc;
}
header .title ul li a{
    font-weight: 600;
    font-size: 1.6rem;
    color: #085D6F;
}
header .title ul li a:hover{
    text-decoration: underline;
    font-weight: 800;
    font-size: 1.6rem;
    color: #f40;
}

@media screen and (max-width: 50em){
    header .title ul li:last-child{
        display: none;
    }
    header .title p {
        float: none;
        display: block;
        padding-top: 1.5rem;
        margin: 0rem auto 0.5rem;
        text-align: center;
    }
    header .title ul {
        float: none;
        text-align: center;
    }
    header .title ul li{
        border: none;
    }
}
@media screen and (max-width: 30em) {
    header .title ul li:first-child{
        display: none;
    }

    
    header .title ul li a{
        font-weight: normal;
    }
}

/*主要内容区*/
.main{
    width:100%;
}

    /*成交金额*/
.main-money{
    width: 100%;
    background: #333;
    
}
.money-content{
    overflow: hidden;
    max-width: 90%;
    margin: 0 auto;
    font-size: 1.6rem;
    color: #fff;
}
.money-content p{
    float: left;
    padding: 1.5rem 0;
}
.money-content p:nth-of-type(2) {
    margin-left: 2rem;
}
.money-content p span{
    display: inline-block;
    border-radius: 3px;
    box-shadow: -2px -1px 4px #000;
    margin: 0 1.5rem;
    padding:0  1.5rem;
    text-align: center;
    background: #fff;
    color: #ff9900;
}
.money-content a{
    float: right;
    color: #EB0D0D;
    line-height: 5rem;
    font-weight: 600;
}
@media screen and (max-width: 50em) {
    .main-money .money-content{
        font-size: 1.2rem;
    }
    .money-content p:nth-of-type(2) {
        margin-left: 1rem;
    }
    .main-money p span{
        background: transparent;
        box-shadow: 0 0 0;
        padding: 0;
        margin:0;
    }
}
@media screen and (max-width: 30em) {
    .main-money .money-content p,
    .money-content a{
        float: none;
        display: block;
        text-align: center;
        margin: 0;
        padding: 0;
        line-height: 3rem;
    }
    
}
    /*广告*/
.ad{
    /*height: 100px;*/
}

    /*产品特点*/
.feature{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.feature .item{
    flex-grow: 1;
    display: inline-block;
    width: 20%;
    box-shadow: 0 0 4px #aaa;  
}
.feature .item + .item{
    margin-left: 1.5rem;
}
.feature .item h3{
    padding: 1rem 2rem;
    display: inline-block;
    color: #ff9900;
    font-size: 3rem;
}
.feature .item p{
    display: inline-block;
    color: #ccc;
    padding: 1rem 0;
    vertical-align: top;
    font-size: 1.6rem;
}
@media screen and (min-width: 30em) and (max-width: 50em) {
   .feature .item h3,
   .feature .item p{
       display: block;
       font-size: 2.6rem;
       text-align: center;
   } 
   .feature .item p{
       font-size: 1.2rem;
   }
}
@media screen and (max-width: 30em) {
    .feature {
        display: block;
        margin: 1rem auto;
    }
    .feature .item{
        display: block;
        width: 100%;
    }
    .feature .item + .item {
        margin: 1rem 0;
    }
}

/*公告内容*/
.notice{
    width: 90%;
    box-shadow: 0 0 4px #aaa;
    margin: 3rem auto;

}
.notice a:first-child{
    float: left;
    color: #aaa;
    margin-left: 2rem;
    width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.notice a:first-child:hover{
    color: cornflowerblue;
}

.notice a:first-child::before{
    content: '最新公告：';
    color: #aaa;
}
.notice a:first-child span{
    font-size: 1rem;
    margin: 1rem;
}
.notice a:first-child:hover span{
    color:#aaa;
}
.notice .more{
    float: right;
    color: #ff9900;
    margin-right: 1.5rem;
}
@media screen and (max-width: 30em) {
    .notice {
        margin: 1rem auto;
        font-size: 1.2rem;
    }
    .notice a {
        margin-left: 1rem;
    }
    .notice a span {
        display: none;
    }
} 
/* 产品列表 */

.product {
    width: 90%;
    margin: 2rem auto;
    font-size: 1.4rem;
    background-color: #f5f9fa;
    border-top: 2px solid #ff9900;
    box-shadow: 0 0 4px #ccc;
}

.product h2 {
    float: left;
    width: 20%;
    margin-top: 3rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: normal;
    color: #635c51;
}

.product h2 em {
    display: block;
    margin-top: 1rem;
    font-size: 1.6rem;
}

.product h2 em:first-child {
    margin-top: 4rem;
}

.product .product-content {
    float: right;
    width: 79.5%;
    border-left: 1px solid #eee;
    background-color: #fff;
}

.product .product-content .item {
    width: 100%;
}

.product .product-content .item + .item {
    border-top: 1px solid #eee;
}

.product .product-content .item h3 {
    float: left;
    width: 30%;
    margin: 1.5rem 0;
    font-size: 1.4rem;
    font-weight: normal;
    text-align: center;
}

.product .product-content .item h3 em {
    margin-right: 0.5rem;
    font-size: 3.6rem;
    font-style: normal;
    color: #8b999d;
}

.product .product-content .item h3 i {
    display: block;
    font-size: 1.2rem;
    font-style: normal;
    color: #999;
}

.product .product-content .item .info {
    float: left;
    width: 48%;
    padding: 1rem;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    font-size: 14px;
}

.product .product-content .item .info p {
    float: left;
    display: inline-block;
    text-align: center;
    width: 56%;
}

.product .product-content .item .info p:last-child {
    width: 40%;
}

.product .product-content .item .info p span {
    display: block;
    font-size: 2.4rem;
    color: #ff9900;
}

.product .product-content .item .info p span i {
    font-size: 1.2rem;
    font-style: normal;
    color: #999;
}

.product .product-content .item .buy {
    float: left;
    width: calc(22% - 4.4rem);
    padding: 1rem;
}

.product .product-content .item .buy a {
    display: block;
    width: 90%;
    margin: 1.5rem auto;
    max-width: 12rem;
    line-height: 4rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff9900;
    border-radius: 5px;
}

.product .product-content .item .buy a:hover,
.product .product-content .item .buy a:active {
    background-color: #ffc468;
}

.product .product-content .item .buy a.disabled {
    background-color: #ccc !important;
    cursor: not-allowed;
}

@media only screen and (max-width: 50em) {

    .product h2 {
        float: none;
        width: 100%;
        margin-top: 2rem;
        font-size: 2.2rem;
    }

    .product h2 em:first-child {
        margin-top: 0;
    }

    .product h2 em {
        display: inline;
        font-size: 1.2rem;
    }

    .product .product-content {
        float: none;
        width: 100%;
    }

    .product .product-content .item h3 {
        margin-bottom: 0
    }

    .product .product-content .item h3 em {
        font-size: 2.4rem;
    }

    .product .product-content .item .info {
        padding: 1rem 1rem 0;
        font-size: 1.2rem;
    }

    .product .product-content .item .info p span {
        font-size: 2rem;
    }

    .product .product-content .item .buy a {
        margin: 0.5rem auto;
    }
}

@media only screen and (max-width: 30em) {

    .product {
        width: 96%;
    }

    .product h2 em:first-child:before {
        content: " ";
        display: table;
    }

    .product .product-content .item h3 em {
        font-size: 2rem;
        margin-right: 0;
    }

    .product .product-content .item .info {
        float: right;
        width: 70%;
        padding: 1rem 0;
        border: none;
    }

    .product .product-content .item .info p span {
        font-size: 1.8rem;
    }

    .product .product-content .item .buy {
        clear: both;
        float: none;
        width: 100%;
        padding: 1rem 0 2rem;
    }

    .product .product-content .item .buy a {
        margin-top: 0;
        max-width: 26rem;
    }
}

/* 底部导航 */

.footer {
    padding: 3rem 0;
    background-color: #fff;
    border-top: 2px solid #eee;
}

.footer-content {
    width: 90%;
    margin: 0 auto;
}

.footer-content .brand {
    float: left;
    display: block;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 20%;
    height: 35px;
    background: url('../img/logo@1x.png') no-repeat left;
    background-size: 150px 35px;
}

.footer-content ul {
    float: left;
    width: 15%;
}

.footer-content ul li {
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.footer-content ul li.title {
    font-size: 1.6rem;
    line-height: 3rem;
}


@media only screen and (max-width: 50em) {

    .footer-content .brand {
        display: none;
    }

    .footer-content ul {
        width: 20%;
    }

    .footer-content ul li {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .footer-content ul li.title {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }
}

@media only screen and (max-width: 30em) {
    .footer-content {
        width: 98%;
    }

    .footer-content ul li.title {
        font-size: 1.2rem;
        line-height: 2rem;
    }
}

/* 底部 */

footer {
    width: 100%;
    padding: 3rem 0 5rem;
    background-color: #ededed;
}

footer ul {
    text-align: center;
}

footer ul li {
    display: inline-block;
}

footer ul li .icon {
    display: inline-block;
    text-indent: -999rem;
    margin-right: 1.5rem;
    background: url(https://i.alipayobjects.com/e/201307/jebmKcbrh.png) no-repeat;
    background-size: 466px 447px;
    overflow: hidden;
}

footer ul li .icon-zfywxk {
    width: 38px;
    height: 27px;
    background-position: -369px -45px;
}

footer ul li .icon-pcirk {
    width: 78px;
    height: 27px;
    background-position: -110px -96px;
}

footer ul li .icon-visayz {
    width: 36px;
    height: 27px;
    background-position: -426px -90px;
}

footer ul li .icon-vsjmfw {
    width: 63px;
    height: 27px;
    margin-right: 13px;
    background-position: -401px -186px;
}

footer ul li .icon-wlgs {
    width: 22px;
    height: 27px;
    background-position: -48px -48px;
}

footer ul li .icon-rzcx {
    width: 75px;
    height: 27px;
    background-position: 0 -320px;
}

footer ul li .icon-gs {
    width: 30px;
    height: 30px;
    margin-right: 0;
    background: url(https://os.alipayobjects.com/rmsportal/lybcjqloSPjMAFg.png) no-repeat;
    background-size: 30px;
}

footer small{
    display: block;
    text-align: center;
    color: #999;
}











